.article-title {
    margin-bottom: 0px;
}

#content a[href].read-more {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    /* font-weight: bold; */
}

hr.article-div {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #aaa;
}
