body {
    margin: 0px;
    padding: 0px;

    /*background-color: #fdf6e3;*/
    /*background-color: #fffcf3;*/
    /*background-color: #fffff8;*/

    font-size: 18px;
    line-height: 1.4;
    font-family: Palatino, Georgia, sans-serif;
    color: #000;
}

div.header h1 {
    font-size: 25px;
    /* line-height: 1; */
    margin-top: 0px;
    font-weight: normal;
}

div.header {

    border-top-color: #e0e0e0;
    border-top-width: 1px;
    border-top-style: solid;

    border-bottom-color: #e0e0e0;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    /* background-color: #fafafa; */
    /* border-color: #e0e0e0; */
    /* border-width: 1px; */
    /* border-style: solid; */
    /* padding-left: 8px; */
    /* padding-right: 8px; */
    /* padding-top: 3px; */

    margin-bottom: 25px;
}

#content > :first-child {
    margin-top: 0px;
}

/* #content :first-child * { */
/*     margin-top: 0px; */
/* } */

/* /1* TODO doesn't work on firefox *1/ */
/* #content :first-child::first-line { */
/*     line-height: 100% !important; */
/* } */

/* h1, h2, h3, h4 { */
/*     font-family: "Lucida Grande", Geneva, Arial, sans-serif; */
/* } */

/* #content h1, #content h2 { */
/*     font-weight: normal; */
/* } */

/* #content h2 { */
/*     border-bottom: 1px solid #aaa; */
/* } */

h1 { font-size: 28px; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }

a {
    text-decoration: none;
    color: rgb(6, 69, 173);
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

ul {
    padding-left: 18px;
}

pre {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
}

code {
    font-size: 15px;
    background-color: #e7e7e0;
    border-color: #c0c0c0;
    /* background-color: #fafafa; */
    /* border-color: #e0e0e0; */
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;

    padding-left: 2px;
    padding-right: 2px;
}

pre code {
    font-size: 15px;
    background-color: transparent;
    border-style: none;
    border-width: 0px;

    padding: 0px;
}

div.sourceCode {
    background-color: #fafafa;
    border-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
}

.soft, .caption {
    color: #555;
}

/* navigation */

/* #navigation { */
/*     background-color: #fafafa; */
/*     border-color: #e0e0e0; */
/*     border-width: 1px; */
/*     border-style: solid; */
/* } */

#navigation a {
    text-decoration: none;
    color: #000;
}

#navigation div.navigation-entry a {
    color: #333;
}

@media (hover: hover) {
  #navigation a:hover {
      color: rgb(6, 69, 173);
  }
  #navigation div.navigation-entry a:hover {
      color: rgb(6, 69, 173);
  }
}

#navigation a.navigation-entry-current {
    text-decoration: underline;
}

/* *** */

@media all and (min-width: 900px) {

    #content {
        padding-top: 32px;
    }

    #navigation {
        padding-top: 32px;
        position: sticky;
        float: left;
        /*top: 12px;*/
        top: 0px;
        width: 110px;
        text-align: right;

        padding-right: 25px;
        /* background-color: #ccc; */
        /* border-right-style: solid; */
        /* border-right-width: 1px; */
        /* border-right-color: #000; */
    }

    #navigation-logo {
        line-height: 1;
        font-size: 25px;
        margin-bottom: 21px;
    }

    div.navigation-entry {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    #content {
        width: 740px;
        padding-left: 160px;
    }

}

@media all and (min-width: 1060px) {
    body {
        overflow-y: scroll;
    }
    #top-level {
        margin: 0 auto;
        width: 1060px;
    }
}

@media all and (max-width: 899px) and (min-width: 740px) {
    body {
        overflow-y: scroll;
    }
    #top-level {
        margin: 0 auto;
        width: 740px;
    }
}

@media all and (max-width: 899px) {

    #content {
        padding-top: 32px;
    }

    #navigation {
        padding-top: 20px;
        /*top: 12px;*/
        /* top: 0px; */
        /* width: 110px; */
        /* text-align: right; */

        /* padding-right: 25px; */
        /* background-color: #ccc; */
        /* border-right-style: solid; */
        /* border-right-width: 1px; */
        /* border-right-color: #000; */
    }

    #navigation-logo {
        line-height: 1;
        font-size: 25px;
        margin-bottom: 21px;
    }

    #navigation-content {
        /*position: sticky;*/
        /*TODO: (100% - 220px)/2*/
        /*left: 0;*/
        /*width: 235px;*/
        /*margin: 0 auto;*/
        padding-top: 7px;
        text-align: center;
        line-height: 1;
        /* display: inline; */
    }

    /* #navigation-list { */
    /*   display: grid; */
    /*   grid-template-columns: 1fr 1fr 1fr 1fr; */
    /*   grid-gap: 0; */
    /* } */

    div.navigation-entry {
        margin-left: 6px;
        margin-right: 6px;
        /* float: left; */
        display: inline;
    }

    #content {
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media all and (max-width: 739px) {
    #content {
        font-size: 16px;
    }
    pre code {
        font-size: 14px;
    }
}

/* *** */

.content-auto-resizable-iframe-full {
    max-width: 646px;
    margin: 0px auto;
}
.content-auto-resizable-iframe-full > div {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0px;
}
.content-auto-resizable-iframe-full iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
