body {
    margin: 0px;
    padding: 0px;

    /*background-color: #fdf6e3;*/
    /*background-color: #fffcf3;*/
    /*background-color: #fffff8;*/

    color: #000;
    /* color: rgb(32, 33, 34); */
    font-size: 18px;
    line-height: 1.4;
    font-family: Palatino, Georgia, sans-serif;
}

/* h1, h2, h3, h4 { */
/*     font-family: "Lucida Grande", Geneva, Arial, sans-serif; */
/* } */

h1 { font-size: 28px; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }

a {
    text-decoration: none;
    color: rgb(6, 69, 173);
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

ul {
    padding-left: 18px;
}

pre {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
}

code {
    background-color: #e7e7e0;
}

pre code {
    font-size: 16px;
    background-color: transparent;
}

.soft, .caption {
    color: #555;
}

/* navigation */

#navigation h2 {
    font-weight: normal;
}

#navigation a {
    text-decoration: none;
    color: #000;
}

#navigation a.navigation-entry {
    color: #333;
}

@media (hover: hover) {
  #navigation a:hover {
      color: rgb(6, 69, 173);
  }
}

a.navigation-entry-current span {
    text-decoration: underline;
}

#content {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* *** */

@media all and (min-width: 900px) {

    #navigation {
        position: sticky;
        float: left;
        /*top: 12px;*/
        top: 0px;
        padding-top: 12px;
        width: 110px;
        text-align: right;
    }

    #navigation-logo {
        line-height: 1;
    }

    a.navigation-entry {
        margin-top: 6px;
        margin-bottom: 6px;
        display: block;
    }

    #content {
        width: 740px;
        padding-left: 160px;
    }

}

@media all and (min-width: 1060px) {
    body {
        overflow-y: scroll;
    }
    #top-level {
        margin: 0 auto;
        width: 1060px;
    }
}

@media all and (max-width: 899px) and (min-width: 740px) {
    body {
        overflow-y: scroll;
    }
    #top-level {
        margin: 0 auto;
        width: 740px;
    }
}

@media all and (max-width: 899px) {

    #navigation-content {
        /*position: sticky;*/
        /*TODO: (100% - 220px)/2*/
        /*left: 0;*/
        /*width: 235px;*/
        /*margin: 0 auto;*/
        padding-top: 7px;
        text-align: center;
        line-height: 1;
    }

    a.navigation-entry {
        margin-left: 6px;
        margin-right: 6px;
    }

    #content {
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media all and (max-width: 739px) {
    #content {
        font-size: 16px;
    }
    pre code {
        font-size: 14px;
    }
}

/* *** */

.content-auto-resizable-iframe-full {
    max-width: 646px;
    margin: 0px auto;
}
.content-auto-resizable-iframe-full > div {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0px;
}
.content-auto-resizable-iframe-full iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
