#portrait {
    height: 128px;
    border-radius: 5%;
}

#contact {
    margin-top: 24px;
}

#contact-left {
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#contact-right {
    display: inline-block;
    vertical-align: middle;
}

#contact-right a {
    border: none;
    color: #333;
}

@media all and (max-width: 821px) {
    h1.small-center {
        margin-bottom: 0px;
    }
    #contact {
        margin-top: 12px;
    }
}


@media all and (max-width: 600px) {
    #contact-left {
        padding-right: 0px;
    }
    .small-center {
        text-align: center;
    }
    .small-center ul {
        text-align: left;
    }
}
