#contact-left {
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

#portrait {
    height: 128px;
    border-radius: 5%;
}

#contact-right {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

a.contact-entry {
    border: none;
}

@media all and (max-width: 869px) {
    h1.small-center {
        margin-bottom: 12px;
    }
}

@media all and (max-width: 700px) {
    #contact-left {
        padding-right: 5px;
    }
    .small-center {
        text-align: center;
    }
}
