{% extends 'templates/content.html' %}

{% block title %}Home{% endblock %}

{% block before %}
    <link rel="stylesheet" type="text/css" href="{{ path_to('/css/index.css') }}">
    <link rel="stylesheet" href="{{ path_to('/third-party/fontawesome/css/fontawesome-all.min.css') }}">
{% endblock %}

{% block content %}

<div id="index">

    <h1 class="small-center">About Me</h1>

    <div id="contact" class="small-center">
        <div id="contact-left">
            <img id="portrait" src="{{ path_to('/images/portrait.jpg') }}" alt="Portrait">
        </div>
        <div id="contact-right">
            <p>
                <a class="contact-entry" href="mailto:nick@nickspinale.com">
                    <i class="fas fa-fw fa-envelope"></i>
                    nick@nickspinale.com
                </a>
                <br />
                <a class="contact-entry" href="https://github.com/nspin">
                    <i class="fab fa-fw fa-github"></i>
                    github.com/nspin
                </a>
                <br />
                <a class="contact-entry" href="https://twitter.com/nick_spinale">
                    <i class="fab fa-fw fa-twitter"></i>
                    twitter.com/nick_spinale
                </a>
                <br />
                <a class="contact-entry" href="https://www.linkedin.com/in/nickspinale">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                    linkedin.com/in/nickspinale
                </a>
                {# <br /> #}
                {# <a class="contact-entry" href="#pgp"> #}
                {#     <i class="fas fa-fw fa-key"></i> #}
                {#     PGP Public Key #}
                {# </a> #}
            </p>
        </div>
    </div>

    <div id="bio">
        <p>
            I work at Arm Research.
        </p>
        <p>
            My interests include privacy, trusted computing, operating systems, formal methods, programming languages, and reverse engineering.
        </p>
        <p>
            Right now, I'm exploring system software foundations that will enable the trust models necessary for the future of privacy and trustworthy computing.
        </p>
        <p>
            Please feel free to reach out using any of the links above.
        </p>
        <!-- <p> -->
        <!--     To see what I've been working on (outside of work), check out -->
        <!--     <a href="https://github.com/nspin/malice">Malice</a>, -->
        <!--     <a href="https://github.com/nspin/hs-arm">hs-arm</a>, or -->
        <!--     <a href="https://github.com/nspin/synthol">synthol</a>. -->
        <!-- </p> -->
    </div>

    <h3>PGP Public Key</h3>

    <div id="pgp">

      <pre><code>Fingerprint:  4192 C799 FA1E 646F 55F6  FAD5 2EE5 D25E 181E BD4B

<a class="pgp-info" href="{{ path_to('/nickspinale-181EBD4B-public.asc') }}">{{ include_raw('static/nickspinale-181EBD4B-public.asc') }}</a></code></pre>

    </div>

</div>

{% endblock %}
