{% extends 'templates/content.html' %}
{% set navigation_current = "home" %}

{% block title %}Home{% endblock %}

{% block before %}
    <link rel="stylesheet" type="text/css" href="{{ path_to('/css/index.css') }}">
    <link rel="stylesheet" href="{{ path_to('/third-party/fontawesome/css/fontawesome-all.min.css') }}">
{% endblock %}

{% block content %}

<div id="contact" class="small-center">
    <div id="contact-left">
        <img id="portrait" src="{{ path_to('/images/portrait.jpg') }}" alt="Portrait">
    </div>
    <div id="contact-right">
        <!-- <p> -->
            <a class="contact-entry" href="mailto:nick@nickspinale.com">
                <i class="fas fa-fw fa-envelope"></i>
                nick@nickspinale.com
            </a>
            <br />
            <a class="contact-entry" href="https://github.com/nspin">
                <i class="fab fa-fw fa-github"></i>
                github.com/nspin
            </a>
            <br />
            <a class="contact-entry" href="https://twitter.com/nick_spinale">
                <i class="fab fa-fw fa-twitter"></i>
                twitter.com/nick_spinale
            </a>
            <br />
            <a class="contact-entry" href="https://www.linkedin.com/in/nickspinale">
                <i class="fab fa-fw fa-linkedin-in"></i>
                linkedin.com/in/nickspinale
            </a>
        <!-- </p> -->
    </div>
</div>

<div id="bio">
    <p>
        I am an independent computer security researcher based in Portland, Oregon.
    </p>
    <p>
        My interests include privacy, operating systems, programming languages, formal methods, and reverse engineering.
    </p>
    <p>
        These days, most of my time at work is spent hacking on and around <a href="https://sel4.systems/About/">seL4</a>, the formally verified microkernel.
        In particular, I've been working on seeding the seL4 userspace ecosystem with <a href="https://github.com/seL4/rust-sel4">support</a> for the Rust programming language.
    </p>
    <p>
        I offer my consulting services through <a href="https://coliasgroup.com">Colias Group, LLC</a>.
    </p>
</div>

{% endblock %}
