{% extends 'templates/content.html' %}
{% set navigation_current = "home" %}

{% block title %}Home{% endblock %}

{% block before %}
    <link rel="stylesheet" type="text/css" href="{{ path_to('/css/index.css') }}">
    <link rel="stylesheet" href="{{ path_to('/third-party/fontawesome/css/fontawesome-all.min.css') }}">
{% endblock %}

{% block content %}

<div id="contact" class="small-center">
    <div id="contact-left">
        <img id="portrait" src="{{ path_to('/images/portrait.jpg') }}" alt="Portrait">
    </div>
    <div id="contact-right">
        <!-- <p> -->
            <a class="contact-entry" href="mailto:nick@nickspinale.com">
                <i class="fas fa-fw fa-envelope"></i>
                nick@nickspinale.com
            </a>
            <br />
            <a class="contact-entry" href="https://github.com/nspin">
                <i class="fab fa-fw fa-github"></i>
                github.com/nspin
            </a>
            <br />
            <a class="contact-entry" href="https://twitter.com/nick_spinale">
                <i class="fab fa-fw fa-twitter"></i>
                twitter.com/nick_spinale
            </a>
            <br />
            <a class="contact-entry" href="https://www.linkedin.com/in/nickspinale">
                <i class="fab fa-fw fa-linkedin-in"></i>
                linkedin.com/in/nickspinale
            </a>
        <!-- </p> -->
    </div>
</div>

<div id="bio">
    <p>
        I am an independent security researcher.
    </p>
    <p>
        My interests include privacy, confidential computing, trusted execution environments, operating systems, programming languages, formal methods, and reverse engineering.
    </p>
    <p>
        My interests include privacy, confidential computing, trusted execution environments, operating systems, programming languages, formal methods, and reverse engineering.
    </p>
    <p>
        Please feel free to reach out using any of the links above.
    </p>
    <!-- <p> -->
    <!--     To see what I've been working on (outside of work), check out -->
    <!--     <a href="https://github.com/nspin/malice">Malice</a>, -->
    <!--     <a href="https://github.com/nspin/hs-arm">hs-arm</a>, or -->
    <!--     <a href="https://github.com/nspin/synthol">synthol</a>. -->
    <!-- </p> -->
</div>

{% endblock %}
