{% extends 'templates/content.html' %}
{% set navigation_current = "articles" %}

{% block title %} Articles {% endblock %}

{% block before %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ path_to('/css/articles.css') }}">
{% endblock %}

{% block content %}

    <hr class="article-div">
{% for article in articles %}
    <h3 class="article-title no-margin-bottom">
        <a href="{{ path_to('/articles/{}.html'.format(article.id)) }}">
            {{ article.meta.title }}
        </a>
    </h3>
    <span class="soft">
        {{ article.meta.date.__format__('%Y, %b %e') }}
    </span>
    {{ article.body }}
    <a href="{{ path_to('/articles/{}.html'.format(article.id)) }}" class="read-more">read more</a>
    <hr class="article-div">
{% endfor %}

{% endblock %}
