<!doctype html>
<html>
    <head>
        <title>Nick Spinale - {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="description" content="Nick Spinale is a computer security researcher based in Cambridge, UK.">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <script>{{ read_src('static/js/ga.js') }}</script>
        <link rel="stylesheet" type="text/css" href="{{ path_to('/css/base.css') }}">

{% block before %}{% endblock %}

    </head>
    <body>
        <div id="top-level">
            <div id="navigation">
                <div id="navigation-logo"><a href="{{ path_to('/') }}">Nick Spinale</a></div>
                <div id="navigation-list">
                  <div class="navigation-entry"><a class="{% if navigation_current == "home" %} navigation-entry-current {% endif %}" href="{{ path_to('/') }}">Home</a></div>
                  <div class="navigation-entry"><a class="{% if navigation_current == "articles" %} navigation-entry-current {% endif %}" href="{{ path_to('/articles.html') }}">Articles</a></div>
                  <div class="navigation-entry"><a class="{% if navigation_current == "portfolio" %} navigation-entry-current {% endif %}" href="{{ path_to('/portfolio.html') }}">Portfolio</a></div>
                  <div class="navigation-entry"><a href="{{ path_to('/resume.pdf') }}">Resume</a></div>
                </div>
            </div>
            <div id="content">

{% block content %}{% endblock %}

            </div>
        </div>
    </body>
</html>
