#contact-left {
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

#portrait {
    height: 128px;
    border-radius: 5%;
}

#contact-right {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

a.contact-entry {
    border: none;
}

a.pgp-info {
    border: none;
    display: inline-block;
}

a.pgp-info:hover {
    color: #007f00;
}

#pgp pre {
    padding: 0px;
    overflow-y: scroll;
}

@media all and (max-width: 899px) {
    h1.small-center {
        margin-bottom: 12px;
    }
}

@media all and (max-width: 739px) {
    #contact-left {
        padding-right: 5px;
    }
    .small-center {
        text-align: center;
    }
}
