html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html {
    background-color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
}

body {
    color: #333;
    overflow: visible;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }

a[href] {
    text-decoration: none;
    color: #111;
    border-bottom: 1px solid #555;
}

ul {
    padding-left: 18px;
}

pre {
    font-size: 14px;
    margin-left: 18px;
}

pre code {
    background-color: transparent;
}

code {
    background-color: #e7e7e7;
    color: black;
}

.soft, .caption {
    font-style: italic;
    color: #555;
}

/* *** */

/* + 50? */

@media all and (min-width: 822px) {

    #navigation {
        position: sticky;
        float: left;
        top: 0;
        padding-top: 13px;
        width: 120px;
        text-align: right;
    }

    #navigation-logo {
        line-height: 24px;
        margin-bottom: 26px;
    }

    a.navigation-entry {
        margin-top: 6px;
        margin-bottom: 6px;
        display: block;
    }

    #content {
        width: 646px;
        padding-left: 176px;
        padding-top: 28px;
        padding-bottom: 12px;
    }

}

@media all and (max-width: 821px) {

    #navigation-content {
        position: sticky;
        left: 0;
        width: 220px;
        margin: 0 auto;
        padding-top: 7px;
        text-align: center;
        line-height: 24px;
    }

    a.navigation-entry {
        margin-left: 6px;
        margin-right: 6px;
    }

    #content {
        padding-top: 12px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
    }

}

/* *** */

a.navigation-entry {
    color: #333;
    border-bottom: none;
}

.content-auto-resizable-iframe-full {
    /*max-width: 560px;*/
    max-width: 646px;
    margin: 0px auto;
}
.content-auto-resizable-iframe-full > div {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0px;
}
.content-auto-resizable-iframe-full iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
