html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html {
    background-color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 24px;
    /*line-height: 1.5; xx*/
}

body {
    color: #333;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }

a {
    text-decoration: none;
    color: #333;
}

/*#navigation {
    line-height: 24px;
}xx*/

/* + 50? */

@media all and (min-width: 822px) {

    #navigation {
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 13px;
        width: 120px;
        text-align: right;
    }

    a.navigation-entry {
        margin: 6px 0px 6px 0px;
        display: block;
    }

    #content {
        padding-left: 176px;
        /*padding-top: 23px; xx*/
        padding-top: 30px;
        padding-bottom: 12px;
        width: 646px;
    }

}

@media all and (max-width: 821px) {

    #navigation {
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 7px;
        text-align: center;
        width: 100%;
    }

    #navigation-content {
    }

    a.navigation-entry {
        margin: 0px 6px 0px 6px;
    }

    #content {
        padding-top: 100px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
    }

}
