html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html {
    background-color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 24px;
}

body {
    color: #333;
}

@media all and (min-width: 822px) {

    #navigation {
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 13px;
        width: 120px;
        text-align: right;
    }

    #navigation-down a {
        margin: 6px 0px 6px 0px;
        display: block;
    }

    #content {
        margin-left: 176px;
        width: 646px;
        padding-top: 30px;
    }

}

@media all and (max-width: 821px) {

    #navigation {
        padding-top: 7px;
        text-align: center;
    }

    #navigation-down a {
        margin: 0px 6px 0px 6px;
    }

    #content {
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }

}

h1, h2, h3 {
    font-weight: normal;
}

h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }

a {
    text-decoration: none;
    color: #333;
}
