#contact {
    margin-top: 24px;
}

#contact-left {
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

#portrait {
    height: 128px;
    border-radius: 5%;
}

#contact-right {
    display: inline-block;
    vertical-align: middle;
}

a.contact-entry {
    border: none;
}

/*a.contact-entry > i.fa {
    padding-right: 2px;
}*/

@media all and (max-width: 859px) {
    h1.small-center {
        margin-bottom: 0px;
    }
    #contact {
        margin-top: 12px;
    }
}

@media all and (max-width: 700px) {
    #contact-left {
        padding-right: 5px;
    }
    .small-center {
        text-align: center;
    }
    #contact-right {
        text-align: left;
    }
}
