#content #index #portrait {
    height: 128px;
    border-radius: 5%;
    margin: 0px
}

#content #index #contact {
    margin-top: 24px;
}

#content #index #contact-left {
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#content #index #contact-right {
    display: inline-block;
    vertical-align: middle;
}

#content #index #contact-right a {
    border: none;
    color: #333;
}

@media all and (max-width: 600px) {
    #content #index #contact-left {
        padding-right: 0px;
    }
    #content #index .small-center {
        text-align: center;
    }
    #content #index .small-center ul {
        text-align: left;
    }
}
