{% extends 'templates/content.html' %}

{% block title %}Home{% endblock %}

{% block before %}
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="/third-party/fontawesome/css/fontawesome-all.min.css">
{% endblock %}

{% block content %}

<div id="index">

    <h1 class="small-center">About Me</h1>

    <div id="contact" class="small-center">
        <div id="contact-left">
            <img id="portrait" src="/images/portrait.jpg" alt="Portrait">
        </div>
        <div id="contact-right">
            <p>
                <a class="contact-entry" href="mailto:nick@nickspinale.com">
                    <i class="fas fa-fw fa-envelope"></i>
                    nick@nickspinale.com
                </a>
                <br />
                <a class="contact-entry" href="https://github.com/nspin">
                    <i class="fab fa-fw fa-github"></i>
                    github.com/nspin
                </a>
                <br />
                <a class="contact-entry" href="https://www.linkedin.com/in/nickspinale">
                    <i class="fab fa-fw fa-linkedin"></i>
                    linkedin.com/in/nickspinale
                </a>
            </p>
        </div>
    </div>

    <div id="bio">
        <p>
            I study Mathematics and Computer Science at <a href="http://www.carleton.edu">Carleton College</a>.
        </p>
        <p>
            My interests include
                system security,
                formal verification,
                programming languages,
                cryptography (both mathematical and applied),
                and reverse engineering.
        </p>
        <p>
            To see what I've been working on, check out
            <a href="https://github.com/nspin/malice">Malice</a> or
            <a href="https://github.com/nspin/hs-arm">hs-arm</a>.
        </p>
    </div>

</div>

{% endblock %}
