{% extends 'templates/content.html' %}
{% set navigation_current = "articles" %}

{% block title %} Articles {% endblock %}

{% block before %}
    <link rel="stylesheet" type="text/css" href="{{ path_to('/css/articles.css') }}">
{% endblock %}

{% block content %}

<!-- <h1>Articles</h1> -->
<h1></h1>

    <hr class="article-div">
{% for article in articles %}
    <a class="no-ul" href="{{ path_to('/articles/{}.html'.format(article.id)) }}">
        <h3 class="article-title">{{ article.meta.title }}</h3>
    </a>
    <span class="soft">
        {{ article.meta.date.__format__('%Y, %b %e') }}
    </span>
    {{ article.body }}
    <a href="{{ path_to('/articles/{}.html'.format(article.id)) }}" class="read-more">Read More</a>
    <hr class="article-div">
{% endfor %}

{#
{% for article in articles %}
    <a class="no-ul" href="{{ path_to('/articles/{}.html'.format(article.id)) }}">
        <h3>
            {{ article.meta.title }}
            <span class="soft">
                &mdash;
                {{ article.meta.date.__format__('%Y, %b %e') }}
            </span>
        </h3>
        <p>
            {{ article.meta.desc }}
        </p>
    </a>
{% endfor %}
#}

{% endblock %}
