<!doctype html>
<html>
    <head>

        <title>Nick Spinale - {% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Personal website of Nick Spinale.">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-86175905-1', 'auto');
            ga('send', 'pageview');
        </script>

        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/content.css">

        {% block before %}{% endblock %}

    </head>
    <body>

        <div id="navigation">
            <h1><a href="/">Nick Spinale</a></h1>
            <div>
                <a class="navigation-entry" href="/articles.html">Articles</a>
                <a class="navigation-entry" href="/projects.html">Projects</a>
                <a class="navigation-entry" href="/resume.pdf">Resume</a>
            </div>
        </div>

        <ns-content>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </ns-content>

    </body>
</html>
